<div class="film-card">
  <img src='https://image.tmdb.org/t/p/original{{@movie.backdrop_path}}' alt="" width="100%">
  <h3 class="title">{{@movie.title}}</h3>
  <p class="vote-average"><span>Vote Average</span> {{@movie.vote_average}}</p>
  <div class="overview-wrapper">
    <p class="title">Overview</p>
    <div class="overview">{{@movie.overview}}</div>
  </div>
</div>