<div class="landing-page-wrapper">
  <h1>Welcome.</h1>
  <p>Millions of movies, TV shows and people to discover. Explore now.</p>
  <div class="visual-background"></div>
  <div class="overlay-layout"></div>
  <LinkTo @route="movies"><button>Discover</button> </LinkTo>
</div>