<div class="movies-page-wrapper">
  <h1 class="search-title">Movies</h1>
  <div class="search-wrapper">
    <input type="text" class="search-input" placeholder="Search for a movie, tv show, person...">
    <button class="search-submit">Search</button>
  </div>
  <h1 class="popular-films-title">Popular Films</h1>
  <div class="popular-films-wrapper">
    {{#each this.model as |movie|}}
      <FilmCard @movie={{movie}}/>
    {{/each}}
  </div>
</div>