<div class="movies-page-wrapper">
  <h1 class="search-title">Movies</h1>
  <div class="search-wrapper">
    <input type="text" class="search-input" placeholder="Search for a movie, tv show, person...">
    <button class="search-submit">Search</button>
  </div>
  <h1 class="popular-films-title">Popular Films</h1>
  <div class="popular-films-wrapper">
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div>
    <div class="film-card">
      <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
      <h3 class="title">Avengers: Infinity War</h3>
      <p class="vote-average"><span>Vote Average</span> 8.7</p>
      <div class="overview-wrapper">
        <p class="title">Overview</p>
        <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
      </div>
    </div><div class="film-card">
    <img src="https://image.tmdb.org/t/p/original/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg" alt="" width="100%">
    <h3 class="title">Avengers: Infinity War</h3>
    <p class="vote-average"><span>Vote Average</span> 8.7</p>
    <div class="overview-wrapper">
      <p class="title">Overview</p>
      <div class="overview">As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.</div>
    </div>
  </div>


  </div>
</div>